/**
 * Make sure these look good in light mode and dark mode!
 * If you omit any values, defaults will be used.
 */
$white: #fdfdfd;
$black: #262626;
$accent: rgb(76, 161, 154);

/**
 * You can add any other styles below
 */
.about h1,
.faq h1,
.team h1 {
  color: $accent;
  font-size: 2.4rem;
}

h1 {
  font-size: 1.8rem;
}

.team .grid {
  margin: 0;
  gap: var(--spacing-xl);
  grid-template-columns: auto;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));

  @media (min-width: 800px) {
    padding: var(--spacing-xl) 0;
  }

  &>* {
    align-items: center;
    flex-direction: row;
  }
}